<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.monster.MockMapper">
    <select id="selectArticleSeeds" resultType="com.github.monster.Article">
        select id, url, title, content, created_at, updated_at
        from articles;
    </select>

    <insert id="mockArticles" parameterType="com.github.monster.Article">
        insert into articles (TITLE, CONTENT, URL, CREATED_AT, UPDATED_AT)
        values (#{title}, #{content}, #{url}, #{createdAt}, #{updatedAt})
    </insert>
</mapper>